.header .navbar-brand {
    padding : 0px;
}

.header .navbar-brand > img {
    width : 100%;
    height : 90%;
}

.header .topmenu a {
    padding : 8px 14px 8px 14px;

    color : white;
    text-align : center;
}

.header .topmenu a:hover {
    color : #663d00;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e2dbc5+49,b29c87+97,b35900+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e2dbc5 49%, #b29c87 97%, #b35900 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e2dbc5 49%,#b29c87 97%,#b35900 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e2dbc5 49%,#b29c87 97%,#b35900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b35900',GradientType=0 ); /* IE6-9 */
}

.header .collapse {
    background : #ff8c1a;
    border-bottom : 2px solid #b35900;
}
