.header .navbar-brand {
    padding : 0px;
}

.header .navbar-brand > img {
    width : 100%;
    height : 90%;
}

.header .topmenu a {
    color : white;
    text-align : center;
}

.header .topmenu a:hover {
    color : #663d00;
}

.header .collapse {
    background : #b38f00;
}
