.chooseContent {
    padding : 15px 0px 0px 10%;
}

.title {
    padding : 8px 15px 8px 15px;

    color : white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#804d00+0,995c00+30,ffffff+100 */
    background: #804d00; /* Old browsers */
    background: -moz-linear-gradient(left, #804d00 0%, #995c00 30%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #804d00 0%,#995c00 30%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #804d00 0%,#995c00 30%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804d00', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.lanBtn {
    margin : 10px;
    padding : 20px;

    color : #fff9e6;
    background : #663d00;
    border : 5px double #fff9e6;
    text-align : center;
    font-size : 32px;
    -webkit-transition : background 1s;
    transition : background 1s;
}

.lanBtn:hover {
    color : white;
    text-decoration : none;
    background : #804d00;
}
