.memberDiv .title {
    padding : 10px 0px 10px 15px;
    margin : 10px 40% 10px 15px;
    color : #4d3300;
    background : #ffcc80;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.memberDiv .inputTitle {
    padding : 3px 3px 3px 10px;
    color : white;
    background : #804d00;
}

.memberDiv .inputField {
    padding : 3px;
    border : 1px solid transparent;
    box-shadow : 3px 1px 4px #d9d9d9;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.memberDiv .inputField:focus {
    box-shadow : 3px 1px 4px #b3b3b3;
}

.memberDiv .check {
    padding : 5px 0px 5px 0px;
    margin-left : 15px;

    font-size : 16px;
    border : 0px solid transparent;
    color : #4d3300;
    background : #ffb84d;
}

.memberDiv .check:hover {
    color : #ffb84d;
    background : #4d3300;
}

.memberDiv .main {
    margin-top : 15px;
    padding : 15px;

    color : #cc3300;
    font-size : 18px;
    border : 5px dashed #ffd9b3;
}

.memberSidebar p {
    margin : 10px 0px 0px 0px;
    padding : 5px 10px 5px 5px;

    color : white;
    background : #b36b00;
    border-left : 5px solid #ff9900;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}

.memberSidebar p:hover {
    background : #663d00;
}

.memberSidebar p a {
    color : white;
    text-decoration : none;
}
