.newsList h4 {
    padding : 5px;
    border-bottom : 1px solid #b35900;
}

.newsList a {
    padding : 10px 5px 10px 5px;

    color : #4d3300;
    text-decoration : none;
}

.newsList a:hover {
    color : #ffdd99;
    background : #4d3300;
}

.newsList a label {
    padding : 0px 8px 0px 8px;
}

.newsList span {
    float : right;
}

.pager .pagination li a {
    color : #4d3300;
    background : #ffdd99;
    border : 1px solid #ffdd99;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    transition : background 1s;
}

.pager .pagination li a:hover {
    color : #ffdd99;
    background : #4d3300;
}

.pager .pagination .active span {
    color : #ffdd99;
    background : #4d3300;
    border : 0px solid #4d3300;
}

.pager .pagination span {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
