.newsContent h2.title {
    width : 60%;
    padding : 5px 15px 5px 15px;

    color : #4d3900;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,cc9900+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 25%, #cc9900 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 25%,#cc9900 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 25%,#cc9900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cc9900',GradientType=0 ); /* IE6-9 */
}

.newsNav h4 {
    color : #332600;
}

.newsNav a {
    padding : 2px 0px 2px 8px;
    color : #4d3900;
}
