.advImg {
    margin : 15px 25px 25px 25px;
    padding : 10px 8px 15px 8px;
    background : #4d3300;
    color : white;
    box-shadow : 1px 1px 10px 3px #4d3300;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.advImg .productName {
    padding: 5px 0px 5px 0px;
}

.advImg button {
    float : right;
    padding : 5px 10px 5px 10px;

    background : #b37700;
    color : black;
    border : 0px solid transparent;
    transition : background 1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.advImg button:hover {
    background : white;
    color : black;
}
