.dashboard-left {
    padding : 0;
    height : 100%;

    background : #737373;
}

.dashboard-left a {
    color : white;
}

.dashboard-left li a:hover {
    background : #4d9900;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
