.newsEdit > div {
    float : left;
}

.newsEdit > span {
    margin : 5px 0px 5px;
    padding : 5px;
}

.newsEdit > input {
    margin-top : 5px;
    padding : 3px;
}

.newsEdit > button {
    margin-top : 15px;
    padding : 5px;
}
